@font-face{
    font-family: 'Source Code Variable';
    font-weight: 200 900;
    font-style: normal;
    font-stretch: normal;
    src: url('./fonts/WOFF2/VAR/SourceCodeVariable-Roman.ttf.woff2') format('woff2'),
         url('./fonts/WOFF/VAR/SourceCodeVariable-Roman.ttf.woff') format('woff'),
         url('./fonts/VAR/SourceCodeVariable-Roman.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Code Variable';
    font-weight: 200 900;
    font-style: italic;
    font-stretch: normal;
    src: url('./fonts/WOFF2/VAR/SourceCodeVariable-Italic.ttf.woff2') format('woff2'),
         url('./fonts/WOFF/VAR/SourceCodeVariable-Italic.ttf.woff') format('woff'),
         url('./fonts/VAR/SourceCodeVariable-Italic.ttf') format('truetype');
}

:root {
	--solarized-base03:	#002b36;
	--solarized-base02:	#073642;
	--solarized-base01:	#586e75;
	--solarized-base00:	#657b83;
	--solarized-base0:	#839496;
	--solarized-base1:	#93a1a1;
	--solarized-base2:	#eee8d5;
	--solarized-base3:	#fdf6e3;
	--solarized-yellow:	#b58900;
	--solarized-orange:	#cb4b16;
	--solarized-red:	#dc322f	220;
	--solarized-magenta:#d33682;
	--solarized-violet:	#6c71c4;
	--solarized-blue:	#268bd2;
	--solarized-cyan:	#2aa198;
	--solarized-green:	#859900;
	--debug-border:     0px;
}

html, body, a.command-hint {
  background:  var(--solarized-base3);
  color: var(--solarized-base03);
  font-family: "Source Code Variable", "Lucida Console", Monaco, monospace;
}

a.command-hint {

}

@media (prefers-color-scheme: dark) {
  html, body, a.command-hint {
    background:  var(--solarized-base03);
    color: var(--solarized-base0);
    font-family: "Source Code Variable", "Lucida Console", Monaco, monospace;
  }
}
